### To run Kafka you need to install : kafka-python

In [31]:
pip install kafka-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kafka-python in /Users/sayalipatil/Library/Python/3.9/lib/python/site-packages (2.0.2)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

### Import the Libraries needed

In [1]:
import pandas as pd
from kafka import KafkaProducer #Importing Producer from Kafka
from time import sleep
from json import dumps
import json

### For security reasons, reading IP from a file

In [2]:
f = open("ip_address", "r")
public_ip = (f.read())

In [3]:
producer = KafkaProducer(bootstrap_servers=[public_ip+':9092'], #Add public IP of your EC2 instance here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

### Sending values on the topic for testing

In [4]:
producer.send('stockmarketdata', value={'data':'data1'})

### Reading data from the data file

In [5]:
data = pd.read_csv('./Dataset/aadr.us.txt', delimiter=',')

In [6]:
data

            Date    Open     High      Low    Close  Volume  OpenInt
0     2010-07-21  24.333  24.3330  23.9460  23.9460   43321        0
1     2010-07-22  24.644  24.6440  24.3620  24.4870   18031        0
2     2010-07-23  24.759  24.7590  24.3140  24.5070    8897        0
3     2010-07-26  24.624  24.6240  24.4490  24.5950   19443        0
4     2010-07-27  24.477  24.5170  24.4310  24.5170    8456        0
...          ...     ...      ...      ...      ...     ...      ...
1560  2017-11-06  57.610  57.7372  57.2285  57.6500   41601        0
1561  2017-11-07  57.290  57.3460  57.1446  57.2850   50935        0
1562  2017-11-08  57.310  57.5500  57.2200  57.4900   71770        0
1563  2017-11-09  57.230  57.2300  56.7100  56.9265   53130        0
1564  2017-11-10  56.960  56.9600  56.3909  56.4000   29233        0

[1565 rows x 7 columns]

### Simulating realtime data

In [7]:
while True:
    dict_stock = data.sample(1).to_dict(orient="records")[0]
    producer.send('stockmarketdata', value=dict_stock)
    sleep(1)   # we use sleep to avoid crashing

KeyboardInterrupt: